@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html, body, :root { height: 100%; }

  /* Light + Dark (if you use darkMode: 'class') */
  body {
    @apply min-h-screen antialiased bg-slate-50 text-slate-900
           dark:bg-slate-900 dark:text-slate-100;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.universe-container {
  @apply container mx-auto p-4 w-full h-[80vh] border-0;
}

.universe-card {
  @apply container mx-auto p-4 w-full h-[80vh] border-0;
}